<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Routing Examples</h3>
      <p>Playing around with routing in this project...</p>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button class="btn btn-primary mr-1" (click)="onLoadDashboard()">Dashboard</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-primary mr-1" (click)="onLoadVmManagement()">VM Management</button>
        </div>
      </div>
    </div>
  </div>
</div>
